.profile-pic {
  width: 50%;
}

.hero-status {
  display: flex;
  margin-bottom: 20px;
}

.hero-description {
  text-align: left;
}

.player-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

.description-paragraph {
  font-size: 0.83em;
  font-weight: bold;
}
