.profile-pic {
  width: 50%;
}

.hero-status {
  display: flex;
  margin-bottom: 20px;
}

.hero-description {
  text-align-last: justify;
  margin: 0% 32%;
}

.player-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
