@media only screen and (min-width: 1024px) {
  .profile-pic {
    width: 15rem;
  }

  .hero-status {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .hero-status-bar-container {
    width: 34em;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-general-info {
    display: block;
    width: 50%;
  }

  p:last-child {
    text-align: center;
  }

  .about-menu-container li {
    display: flex;
    width: 75%;
    padding: 0px 5px !important;
  }

  .player-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bolder;
  }

  .player-info p {
    text-align: start;
  }

  .description-paragraph {
    font-size: 0.83em;
    font-weight: bold;
    padding: 5px;
    width: fit-content;
    text-align: justify;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-status {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .profile-pic {
    width: 12.5rem;
  }

  .player-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 13px;
  }

  .player-info-text-container {
    text-align: left;
    border: solid !important;
    background-color: white;
    background-size: 75%;
    padding: 5px;
    margin-bottom: 0px !important;
  }

  .hero-general-info {
    margin-bottom: 20px;
  }

  .text-container {
    margin-bottom: 20px !important;
    text-align: justify;
  }

  .hero-status-bar-container h3 {
    margin-bottom: 20px !important;
  }

  .text-container:last-child {
    margin-bottom: 20px !important;
    text-align: center;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    text-align: justify;
  }

  .hero-description p {
    margin-bottom: 20px !important;
    text-align: justify;
  }

  .mmx-helmet {
    width: 12%;
  }
  
  .description-paragraph{
    font-size: 0.83em;
  }
}

.signature {
  margin-bottom: 10px !important;
}