.contact-anchor-link button {
  margin-top: 10px;
}

.contact-anchor-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  margin-bottom: 20px;
}

.link-list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.link-container {
  height: 200px;
  width: 200px;
  background-color: white;
  border: solid black;
  padding: 5px;
}

.link-container:hover {
  text-decoration: none;
  height: 200px;
  width: 200px;
  background-color: white;
  border: solid black;
  padding: 5px;
}

.link-btn {
  margin-bottom: 10px;
}
