.contact-anchor-link button {
  margin-top: 10px;
}

.contact-anchor-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.link-list {
  display: flex;
  justify-content: space-evenly;
}
