@media only screen and (min-width: 1024px) {
  .project-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .project-image {
    margin-top: 20px;
    max-width: 1100px;
    max-height: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .project-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-image {
    margin-top: 20px;
    min-width: -webkit-fill-available;
    max-width: 1100px;
    max-height: 500px;
  }
}

.project-description {
  color: black;
  font-weight: bolder;
  font-size: 12.5px;
  text-align: justify;
  padding: 5px;
}

.title {
  font-size: 1.5rem;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.link-icon {
  font-size: 100px;
  text-decoration: none;
}

.custom-baloon {
  margin-right: 50px !important;
}

.snes-jp-logo {
  margin-right: 22px;
}

.close-button {
  position: fixed;
  right: 0%;
  top: 0%;
  margin-right: 50px;
  margin-top: 40px;
}
