:root {
  --cartridge: url("../../data/images/snes-cartridge-light.png")
}

.projectContainer {
  display:flex;
  flex-direction: column;
  
  width: 50%;
  /* height: 100%; */
}

.projectTitle {
  font-size: 90%;
  margin-bottom: 10px;
}

.cartridge {
  width: 40%;
  height: auto;
}

.gameImage {
  border-radius: 0px 0px 15px 15px;
  width: 55%;
  margin-top: 0.6em;
  margin-bottom: 25vh;
}

.cartridge-container {
  cursor: pointer;
  background-image: var(--cartridge);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  /* height: auto; */
  margin-bottom: 30px;
}