:root {
  --cartridge: url("../../data/images/snes-cartridge-light.png");
}

.project-container {
  display: inline-block;
  width: 40%;
  height: inherit;
  margin-bottom: 50px;
}

.project-container:hover {
  cursor: pointer;
}

.game-image {
  width: 100%;
}

.game-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
