:root {
  --cartridge: url("../../data/images/snes-cartridge-light.png")
}

.projectContainer {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  font-size: 90%;
  margin-bottom: 10px;
}

.cartridge {
  width: 40%;
  height: auto;
}

.gameImage {
  border-radius: 5px;
  width: 32%;
  margin-top: 5px;
  margin-bottom: 100px;
}

.cartridge-container {
  cursor: pointer;
  background-image: var(--cartridge);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  width: auto;
  height: auto;
  margin-left: 25px;
  margin-bottom: 30px;
}