@media only screen and (min-width: 1024px) {
  .menu-item-btn {
    width: 450px;
  }

  .menu-nav-button {
    position: absolute;
    width: 450px;
    left: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-item-btn {
    width: 250px;
  }

  .nes-container.with-title.is-centered {
    margin-top: 50px;
  }

  .nes-container.with-title.is-centered > .title {
    margin: -3rem auto 1rem;
  }

  .menu-item-btn {
    width: 250px;
  }

  .menu-nav-button {
    position: absolute;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
