.App {
  text-align: center;
  background-color: #e2e2e2;
  min-height: 100vh;
  color: black;
}

.menu-container {
  margin: 10px 15px;
}

.menu-container-title {
  background-color: #e2e2e2 !important;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.justify-content {
  text-align: justify;
}
