:root {
  --pixel-btn: url(data/images/pixel-btn.png);
}

.App {
  text-align: center;
  background-color: #e2e2e2;
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
}

.menu-container {
  margin: 0px 15px 30px 15px;
}

.menu-container-title {
  background-color: #e2e2e2 !important;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.justify-content {
  text-align: justify;
}

.nes-btn,
.nes-dialog,
.nes-icon,
.nes-balloon {
  border-image-repeat: inherit !important;
}
