body {
  margin: 0;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: url(fonts/PressStart2P-Regular.ttf);
  cursor: default;
}

code {
  font-family: "Kongtext Regular", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  src: url(fonts/kongtext.ttf);
}
